html {
    scroll-behavior: smooth;
    
}

.container-full {
 
    width: 100%;
    padding: 0;
    height: 100%;
    
}



/* Nav Bar */

* {
  box-sizing: border-box;
}

nav {
  padding: 3px 20px 0 0;
}



nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 5px solid #E9473F;
}

.hidden {
  display: none;
}




  /*Index - Homepage 120vw */
  #home {

    background-image: url('../images/devon-janse-van-rensburg--zUuf57UmYc-unsplash.jpg');
    background-size: cover;
   
    height: 100vh;
       width: 101vw; 
       background-repeat: no-repeat;
      /* width: 100%;*/   
  }

/*Introducion */

#parent {
    /*height: 40px;*/
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif; 
    font-size: 55px;
   
    color: white;
    position: absolute;
    top: 40%;
    padding-left: 50px;
    font-weight: 600;
   
  }

  #child {
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif; 
    font-size: 30px;
    position: absolute;
    top: 50%;
    padding-left: 50px;
    color: white;
  }
  
  /* Animation */
  #parent {
    animation: animated-text 3s steps(30,end) 1s 1 normal both
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 550px;}
  }

#about, 
#portfolio,
#services, 
#contact {
background-color: #ffffff;
width: 100vw;
display: inline-block;
}

#about,
#services {
  padding-left: 40px;
}

#about h1,
#portfolio h1,
#services h1,
#contact h1,
section h1{
text-align: center;
font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #333333;
    font-weight: 700;
}

#about img,
#services img,
section {
  display: block;
  margin: 0 auto;
}


 /*About*/


  #about {
      height: 650px;
  }

  #about h1 {
    padding-top: 50px;
  }


h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #333333;
}

#about p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #333333;
  width: 20em;
}

#about .row {
  padding-top: 60px;
}

#about img {
  padding-bottom: 45px;
}


 button a {
   text-decoration: none;
   color: #ffffff;
 }

 button {
   display: block;
   margin: 0 auto;
   padding: 20px 40px;
   font-size: 14px;
   background-color: #E9473F;
   border: none;
   border-radius: 25px;
   text-transform: uppercase;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   
 }

 button:hover a {
   color: #ffffff;
   text-decoration: none;
 }

 button:hover {
   transform: scale(1.1);
   transition: 0.7s;
 }


 /*Our Work*/

 #portfolio {
  height: 500px;
  padding-left: 20px;
}
 

#portfolio h1 {
    padding-top: 10px; 
}

#portfolio p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
    font-style: italic;
}

.mini-gallery {
  /* Prevent vertical gaps */
  line-height: 1;
  column-count: 3;
  column-gap: 2px;
  padding: 40px;
 
}

.mini-gallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  vertical-align: baseline;
}

.mini-gallery a:hover {
opacity: 0.5;
transition: all ease-in 0.3s;
}

#portfolio hr {
  padding-top: 20px;
}

/* Services*/
  #services {
    height: 800px;
}


#services h1 {
    padding-top: 30px;
}

#services h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #333333;
}

 #services .row {
   padding: 35px;
 }

/*Contact*/
#contact {
  height: 700px;
}

#contact h1 {
    padding-top: 50px; 
}

#contact form {
position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  flex-direction: column;
  
}


input, textarea {
  width: 40%;
  font-size: 18px;
}

 #form{
  display: block;
   margin: 20px auto;
   padding: 20px 40px;
   font-size: 14px;
   background-color: #E9473F;
   border: none;
   border-radius: 25px;
   text-transform: uppercase;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   color: #ffffff;
}

form input {
  
border-radius: 5px;
  margin: 10px;
  border: 1px solid #E9473F;
}

textarea {
  border-radius: 5px;
  border: 1px solid #E9473F;
}

footer .page {
 
  padding: 3px;
  background-color: #E9473F;
  color: white;
}

/*Scroll to the Top Button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 40px;
  opacity: 0.5;
  color: #E9473F;
  cursor: pointer;
}




/*Web Responsive*/

/* 

max-width: 424px


min-width: 425px - max-width: 768px

min-width: 769px - max-width: 1023px

min-width: 1024px

*/


/* Nav Bar */

@media screen and (max-width: 768px) {
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 28%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    left: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }


#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}
}
/* Smartphones - Max-Width: 424px */


@media screens and (max-width: 424px) {
#home {
  max-width: 100%;
}
}

/*Larger Screens*/

/*@media screen and (min-width:1024px) {
  #about {
    height: 90vh;
    padding-left: 6vw;
    padding-top: 80px;
  }
  #about h1 {
    font-size: 5vw;
  }

  #about h3 {
    font-size: 4vw;
  }

  #portfolio h1 {
    padding-top: 80px;
}

#services {
  height: 162vh;
}

}

/*Tablets*/


/*#myBtn {
  font-size: 25px;
  padding: 10px;
  right: 15px;
}
#services {
  height: 1100px;
}


@media screen and (max-width: 425px) {
  #home {
    width: 100%;
  }
}

/*@media screen and (min-width: 768px) {
#about .row .col h3 {
 text-align: center;
}

#about .row .col p {
  width: 38em;
  text-align: center;
}
}



/*Mobile */

/*@media screen and (max-width: 425px) {
  /*.arrow #myBtn {
    left: 20px;
      }*/
 /* #home {
    width: 55rem;
  }

  #about .row {
    display: flex;
    flex-wrap: initial;
  }
 
  #about h1 {
    font-size: 55px;
    margin-right: -340px;
  }

  button {
    margin-left: 300px;
  }

 #portfolio {
  height: 140rem;
 }

  #portfolio h1 {
    margin-right: -340px;
  }

  #portfolio p {
    margin-right: -20em;
  }



.mini-gallery {
  column-count: 2;
    width: 45rem;
    display: block;
  
    margin-left: 50px;
}

#services {
  height: 1070px;
}

#services h1 {
  margin-right: -6em;
}

#services .row {
  margin-left: -30px;
  width: 50em;
}

#contact {
  height: 200px;
}

#contact h1 {
  margin-right: -6em;
}



#contact form {
width: 55em;
padding-top: 20px;
}

form {
  padding-right: 30px;
  
}
}

