/*body, 
html {
    height: 100%;
    margin: 0;
}

#home {
    background-image: url('../images/devon-janse-van-rensburg--zUuf57UmYc-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}



nav {
    position: absolute;
    top: 0;
    right: 10px;
}


nav ul li {
  display: inline-block;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1.2px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
 
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 5px solid #E9473F;
}

.hidden {
  display: none;
}

#parent {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif; 
  font-size: 55px;
 
  color: white;
  position: absolute;
  top: 40%;
  padding-left: 50px;
  font-weight: 600;
}

#child {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif; 
  font-size: 30px;
  position: absolute;
  top: 50%;
  padding-left: 50px;
  color: white;
}

/* Animation */
/*#parent {
  animation: animated-text 3s steps(30,end) 1s 1 normal both
}

/* text animation */

/*@keyframes animated-text{
  from{width: 0;}
  to{width: 550px;}
}

#about {
  width: 100%;
  width: calc(100% - 100px);
  background-color: red;
}*/




/*#home {
    background-image: url('../images/devon-janse-van-rensburg--zUuf57UmYc-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
}



/* Nav Bar */


  
 /* nav {
    padding: 3px 20px 0 0;

  }
  
  
  
  nav ul  {
    float: right;
    
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li:not(:first-child) {
    margin-left: 48px;
  }
  
  nav ul li:last-child {
    margin-right: 24px;
  }
  
  nav ul li a {
    display: inline-block;
    outline: none;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    z-index: 1;
  }
  
  nav ul li a:hover {
    text-decoration: none;
    color: white;
    border-bottom: 5px solid #E9473F;
  }
  
  .hidden {
    display: none;
  }
*/

*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-size: 100%;
  font-family: 'Montserrat', sans-serif; 
}

div, section, span, ul, li, a, header{
  box-sizing: border-box;
}


section {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}
/*css reset*/

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  position: fixed;
  z-index: 999;
  
}

nav li{
  list-style: none;
  display: inline-block;
  margin: 0 20px 0 0;
 

}
nav ul {
  position: absolute;
    left: 50%;
    top: 10px;
}

nav li a{
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 600;
}
  
 


nav ul li a:hover {
  text-decoration: none;
  color: #000000;
  border-bottom: 5px solid #E9473F;
}

.hidden {
  display: none;
}

#home {
  background-image: url('../images/devon-janse-van-rensburg--zUuf57UmYc-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

#parent, #child {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  color: #fff;
  padding-left: 50px;
}

#parent {
  font-size: 55px;
  top: 40%;
  font-weight: 600;
}

#child {
  font-size: 30px;
  top: 50%;
}

/* Animation */
#parent {
  animation: animated-text 3s steps(30,end) 1s 1 normal both
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 550px;}
}

/*Section - About */

#about {
  padding-left: 40px; 
}

 h1 {
  text-align: center;

    font-size: 50px;
    color: #333333;
    font-weight: 700;

  
}

#about h1 {
  padding-top: 6rem;
}

#about p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #333333;
  width: 20em;
}



#about .row {
  padding-top: 90px;
padding-left: 80px;
/*Add an interesting image to make it more colourful*/
}


#about img {
  padding-bottom: 45px;
}

button a {
  text-decoration: none;
  color: #ffffff;
}

button {
  display: block;
  margin: 0 auto;
  padding: 9px 25px;
  
  font-size: 14px;
  background-color: #E9473F;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

button:hover a {
  color: #ffffff;
  text-decoration: none;
}

button:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

/*Section - Services */

section #services {
  height: 160vh;
}
#services h1 {
  padding-top: 30px;
}

#services h3 {
font-family: 'Montserrat', sans-serif;
font-size: 30px;
font-weight: 700;
color: #333333;
}

#services .row {
 padding: 35px;
}


#services p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #333333;
  /*width: 20em;*/
}


/*Section - Portfolio */

section #portfolio {
  height: 150vh;
}

#portfolio h1 {
  padding-top: 10px; 
}

#portfolio p {
text-align: center;
font-family: 'Montserrat', sans-serif;
color: #333333;
  font-style: italic;
}

.mini-gallery {
/* Prevent vertical gaps */
line-height: 1;
column-count: 3;
column-gap: 2px;
padding: 40px;

}

.mini-gallery img {
/* Just in case there are inline attributes */
width: 100% !important;
height: auto !important;
vertical-align: baseline;
}

.mini-gallery a:hover {
opacity: 0.5;
transition: all ease-in 0.3s;
}

#portfolio hr {
padding-top: 20px;
}




#contact{
   background-color: #B52B65;
}

/*h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}*/