*{
    margin: 0;
    padding: 0;
  }

html {
   
  height: 100%;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
}



#home {
    background-image: url('../SocialMedia-Project/images/devon-janse-van-rensburg--zUuf57UmYc-unsplash.jpg');
    width: 100%;
    height: 101vh;
    background-size: cover;
}

/* Nav Bar */


nav {
  padding: 20px;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 5px solid #E9473F;
}

.hidden {
  display: none;
}

#parent {
  font-size: 55px;
  color: white;
  position: absolute;
  top: 40%;
  right: 20%;
  padding-left: 5rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
}

#child {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif; 
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 29%;
  padding-left: 5rem;
  color: white;
}

/* Animation */
#parent {
  animation: animated-text 3s steps(30,end) 1s 1 normal both
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 550px;}
}

h1 {
  text-align: center;
font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #333333;
    font-weight: 700;
    padding-top: 20px;
}

/*Section - About*/
 

#about {
  width: 100%;
  height: 101vh;

  padding-left: 40px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #333333;
}

#about p {
  padding-top: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #333333;
/*width: 80em;*/
  
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  #about p {
    width: 95%;
  }
}

#about img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

button a {
  text-decoration: none;
  color: #ffffff;
}

button {
  display: block;
  margin: 0 auto;
  padding: 20px 40px;
  font-size: 14px;
  background-color: #E9473F;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

button:hover a {
  color: #ffffff;
  text-decoration: none;
}

button:hover {
  transform: scale(1.1);
  transition: 0.7s;
}


/*Section - Services */



#services h1 {
  padding-top: 10px;
  padding-bottom: 50px;
}

#services .row {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}


/*#services .row {
  padding-left: 60px;
  padding-bottom: 20px;
  width: 80%;
}*/

#services h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #333333;
}

/*Section - Portfolio */

#portfolio p {
  text-align: center;
}

.mini-gallery {
  /* Prevent vertical gaps */
  line-height: 1;
  column-count: 3;
  column-gap: 2px;
  padding: 40px;
 
}

.mini-gallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  vertical-align: baseline;
}

.mini-gallery a:hover {
opacity: 0.5;
transition: all ease-in 0.3s;
}


/*Section - Contact */

/*form {
  display: block;
  margin: 0 auto;
  width: 75%;
  padding-bottom: 50px
}

form textarea .form-control {
 padding-right: 30px;
}*/

/*Footer*/

footer {
	position: fixed;
	bottom: 0;
}
.footer-sections {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-sections.footer-left,
.footer-sections .footer-center,
.footer-sections .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-sections .footer-left{
	width: 40%;
}
 
.footer-sections h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-sections h3 span{
	color:  #5383d3;
}
 
 
.footer-sections .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-sections .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-sections .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-sections .footer-center{
	width: 35%;
}
 
.footer-sections .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-sections.footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-sections .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-sections .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-sections .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-sections.footer-right{
	width: 20%;
}
 
.footer-sections .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-sections .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-sections .footer-icons{
	margin-top: 25px;
}
 
.footer-sections .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {
 
  .footer-sections {
		font: bold 14px sans-serif;
	
	}
 
	.footer-sections .footer-left,
	.footer-sections .footer-center,
	.footer-sections .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-sections .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}



@media screen and (max-width: 425px) {
  #parent {
    font-size: 2rem;
    display: block;
    margin: 0 auto;
  }
#child {
  font-size: 1rem;
  top: 48%;
  display: block;
  margin: 0 auto;
}
}









