*{
    margin: 0;
    padding: 0;
  }

html {
   
  height: 100%;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#home {
    background-image: url('/images/devon-janse-van-rensburg--zUuf57UmYc-unsplash.jpg');
    width: 100%;
    height: 101vh;
    background-size: cover;
}

/* Nav Bar */


nav {
  padding: 5px;
}


nav ul li {
  display: inline-block;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 5px solid #E9473F;
}

.hidden {
  display: none;
}

#parent {
  font-size: 55px;
  color: white;
  position: absolute;
  top: 40%;
  right: 20%;
  padding-left: 5rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
}

#child {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif; 
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 29%;
  padding-left: 5rem;
  color: white;
}

/* Animation */
#parent {
  animation: animated-text 3s steps(30,end) 1s 1 normal both
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 550px;}
}

h1 {
  text-align: center;
font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #333333;
    font-weight: 700;
    padding-top: 20px;
}

/*Section - About*/
 

#about {
  width: 100%;
  height: 101vh;

  padding-left: 40px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #333333;
}

#about p {
  padding-top: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #333333;
/*width: 80em;*/
  
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  #about p {
    width: 95%;
  }
}

#about img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

button a {
  text-decoration: none;
  color: #ffffff;
}

button {
  display: block;
  margin: 0 auto;
  padding: 20px 40px;
  font-size: 14px;
  background-color: #E9473F;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

button:hover a {
  color: #ffffff;
  text-decoration: none;
}

button:hover {
  transform: scale(1.1);
  transition: 0.7s;
}


/*Section - Services */



#services h1 {
  padding-top: 10px;
  padding-bottom: 50px;
}

#services .row {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}


/*#services .row {
  padding-left: 60px;
  padding-bottom: 20px;
  width: 80%;
}*/

#services h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #333333;
}

/*Section - Portfolio */

#portfolio p {
  text-align: center;
}

.mini-gallery {
  /* Prevent vertical gaps */
  line-height: 1;
  column-count: 3;
  column-gap: 2px;
  padding: 40px;
 
}

.mini-gallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  vertical-align: baseline;
}

.mini-gallery a:hover {
opacity: 0.5;
transition: all ease-in 0.3s;
}


.site-footer {
  background-color: #26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer hr {
  border-top-color:#fff;
  opacity:0.5
}

.site-footer hr.small {
  margin:20px 0
}

.site-footer h6 {
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a {
  columns: #737373;
}

.site-footer a:hover {
  color:#3366cc;
  text-decoration:none;
}

.site-footer p:nth-child(2) {
  width: 30em;
  
}


.footer-links {
  padding-left:0;
  list-style:none
}

.footer-links li {
  display:block  
}



.footer-links a {
  color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
  color:#3366cc;
  text-decoration:none;
}

.footer-links.inline li {
  display:inline-block
}

.site-footer .social-icons {
  text-align:right
}

.site-footer .social-icons a {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.copyright-text {
  margin:0
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


@media screen and (max-width: 425px) {
  #parent {
    font-size: 2rem;
    display: block;
    margin: 0 auto;
  }
#child {
  font-size: 1rem;
  top: 48%;
  display: block;
  margin: 0 auto;
}
}

/*Web Responsive*/

/* Nav Bar */

@media screen and (max-width: 768px) {

  html  {
    width: 100%;
  }
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 28%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    left: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }


#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}
}







